<div class="container">
<%= form_for Post.new, html: {multipart: true}, data: {role: 'form'} do |f| %>
	
	<div class="row">
	<div class="form-group col-md-6">
	<%= f.label :title %>
	<%= f.text_field :title, class: 'form-control' %>
	</div>
	</div>

	<div class="row">
	<div class="form-group col-md-6">
	<%= f.label :image %>
	<%= f.file_field :image %>
	</div>
	</div>

	<div class="row">
	<div class="form-group col-md-6">
	<%= f.label :tag_names, 'Tags' %>
	<%= f.text_field :tag_names, autocomplete: :off, data:{role:'tagsinput'}, class: 'form-control', style: {"width" => "500px"} %>
	</div>
	</div>

	<div class="row">
	<div class="form-group col-md-6">
	<%= f.label :address, 'Address' %>
	<%= f.text_field :address, class: 'form-control' %>
	</div>
	</div>

	<div class="row">
	<div class="form-group col-md-6">
	<%= f.button 'Create Post', class: 'btn btn-default' %>
	</div>
	</div>

<% end %>		
</div>